@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

/* Default Colors */
:root {
    --background-color: var(--primary-color);
    --secondary-background: #FEFAE0;
    --primary-color: #0F4C5C;
    --secondary-color: #5F0F40;
    --accent1-color: #E36414;
    --accent2-color: #FB8B24;
    --accent3-color: #9A031E;

    --headline-color-on-white: black;
    --headline-color-on-color: #FFFFFF;
    --paragraph-color-on-white: black;
    --paragraph-color-on-color: var(--accent1-color);
    --text-background-color: var(--accent1-color);
    --nav-link-color: var(--primary-color);
    --nav-background-color: var(--secondary-color);
    --nav-hover-link-color: var(--accent2-color);
    --nav-hover-background-color: var(--accent3-color);
}

/***** Elements *****/
body {
    background-color: var(--background-color);
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
}

header,
nav,
main,
footer {
    margin: 0 auto;
    padding: 0.75rem;
    max-width: 45rem;
}

header,
footer {
    background-color: var(--paragraph-color-on-color);
    text-align: center;
}

header {
    margin-top: 10px;
}

footer {
    text-align: center;
}

main {
    background-color: var(--secondary-background);
}

h1,
h2,
h3 {
    font-family: 'Fira Code', monospace;
    color: var(--secondary-color);
}

h1 {
    font-size: 1.5rem;
    margin: .15rem;
}

h2 {
    font-size: 1rem;
    border-bottom: 1px solid #999;
    margin-bottom: 0.5rem;
}

a {
    color: var(--nav-link-color);
}

a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    text-decoration: none;
    padding: 2px;
}

/***** Classes *****/

.accent{
    color: var(--accent3-color)
}

/***** IDs *****/
#content {
    max-width: 960px;
    margin: 0 auto;
    padding: 1em;
    position: relative;
    border-radius: 50%;
}

#profile-img {
    filter: brightness(1.25);
    margin: 5px;
    height: 85%;
}
